---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<style>
    
    /* Parent Container */
    .content_img{
     position: relative;
     width: 320px;
     float: left;
     padding: 5px;
    }
    
    /* Child Text Container */
    .content_img .icontext{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: yellow;
        color: gray;
        margin: 5px;
        font-size:36px;
        font-family: sans-serif;
/*         font-family: Lato; */
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0s, opacity 0.5s linear; 
        transition: visibility 0s, opacity 0.5s linear;
    }
    
    .content_img .caption {
        font-size:16px;
        color: gray;
        display: block;
    }
    
    .content_img:hover {
        cursor: pointer;
    }
    
    .content_img:hover .icontext{
        padding: 8px;
        visibility: visible;
        opacity: 0.7; 
        background-color: yellow;
    }
    
    hr.solid {
       border: 0;
       border-top: 1px solid #000;
       margin: 10px auto; /* For vertical spacing */
    }
    
</style>

<!-- ------------------------------------------------------------- -->

<div style="text-align:center; position:relative;">
    <h1><p align="center">Programming Projects</p></h1>
    <hr class="solid">
</div>
    
<!-- ------------------------------------------------------------- -->

<div style="text-align:center; position:relative;">
    
  <div class="content_img">
    <a href="https://yingjun-mou.github.io/projects/plague-simulation"><img src="../images/Icon_plagueA.gif"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext">PLAGUE SIMULATION</h1>      
    </div>
    <span class="caption">Plague Simulation</span>
  </div>

  <div class="content_img">
    <a href="https://yingjun-mou.github.io/projects/path-finder"><img src="../images/Icon_PathFinder.gif"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext">PATH FINDER</h1>      
    </div>
    <span class="caption">Campus Shortest-path Finder</span>
  </div>
    
  <div class="content_img">
    <a href="https://yingjun-mou.github.io/projects/3d-maze"><img src="../images/Icon_VR.png"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext">3D MAZE</h1>      
    </div>
    <span class="caption">VR 3D Maze</span>
  </div>
    
</div>




<!-- ------------------------------------------------------------- -->

<div style="text-align:center; position:relative;">
    <hr class="solid" style="margin-bottom: 200px;">
    <!-- <hr class="blank"> # opacity=0.2 -->
    <h1 id="start_Design" style="margin-top: 200px";><p align="center">Design Projects</p></h1>
    <hr class="solid">
</div>
    
<!-- ------------------------------------------------------------- -->


<div style="text-align:center; position:relative;">
    
  <div class="content_img">
    <a href="https://yingjun-mou.github.io/projects/chelsea-theater"><img src="../images/Icon_1IDD.jpg"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext">RISING THEATER</h1>      
    </div>
    <span class="caption">Chelsea National Rising Theater</span>
  </div>

  <div class="content_img">
    <a href="https://yingjun-mou.github.io/projects/agri-metery"><img src="../images/Icon_2Rothstein.jpg"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext">AGRI-METERY</h1>      
    </div>
    <span class="caption">Agri-metery</span>
  </div>
    
  <div class="content_img">
    <a href="https://yingjun-mou.github.io/projects/craterscape"><img src="../images/Icon_3FP.jpg"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext">CRATERSCAPE</h1>      
    </div>
    <span class="caption">Craterscape</span>
  </div>  
    
</div>



<div class="space"></div>



<div style="text-align:center; float: left; position:relative;">
    
  <div class="content_img">
    <a href="https://yingjun-mou.github.io/projects/chelsea-theater"><img src="../images/Icon_4Rivera-300x300.jpg"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext">REHABITATE ABANDONED</h1>      
    </div>
    <span class="caption">Rehabitate the Abandoned</span>
  </div>

  <div class="content_img">
<!--     <a href="https://yingjun-mou.github.io/projects/agri-metery"><img src="../images/Icon_5Rome.jpg"/></a> -->
    <a href="https://yingjun-mou.github.io/projects/#start_Design"><img src="../images/Icon_5Rome.jpg"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext">NEW GROUND</h1>      
    </div>
    <span class="caption">Tiber Island New Ground</span>
  </div>

</div>





<!-->{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}<--->

