---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<style>
    
    /* Parent Container */
    .content_img{
     position: relative;
     width: 320px;
     float: left;
     padding: 5px;
    }
    
    /* Child Text Container */
    .content_img .icontext{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: yellow;
        color: gray;
        margin: 5px;
        font-family: sans-serif;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0s, opacity 0.5s linear; 
        transition: visibility 0s, opacity 0.5s linear;
    }
    
    .content_img:hover {
        cursor: pointer;
    }
    
    .content_img:hover .icontext{
        padding: 8px;
        visibility: visible;
        opacity: 0.7; 
        background-color: yellow;
    }

    .title_below {
        heihgt: 50;
        style="font-family: 'Lato'; 
        font-size:5px;"
    }  

    
</style>

<h4>This is normal text - <b>and this is bold text</b>.</h4>

<div style="text-align:center; float: left;">
    
  <div class="content_img">
    <a href="https://yingjun-mou.github.io/projects/"><img src="../images/Icon_plagueA.gif"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext" style="font-family: 'Lato'; font-size:54px;">PLAGUE SIMULATION</h1>      
    </div>
  </div>


  <div style="float: left; position: relative; width: 320px; padding-left: 5px; padding-bottom: 5px;">
    <a href="https://yingjun-mou.github.io/publications/"><img src="../images/Icon_PathFinder.gif"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext" style="font-family: 'Lato'; font-size:54px;">RESEARCH</h1>
    </div>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 100%);">
      <h1 class="icontext_below">CODING</h1>
    </div>
  </div>

  <div style="float: left; position: relative; width: 320px; padding-right: 5px; padding-top: 5px;">
    <a href="https://yingjun-mou.github.io/design/"><img src="../images/Icon_VR.png"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext" style="font-family: 'Lato'; font-size:54px;">DESIGN</h1>
    </div>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 100%);">
      <h1 class="icontext_below">CODING</h1>
    </div>
  </div>
    
</div>


<div class="title_below",  style="text-align:center; float: left;">
    
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 150%);">
      <p class="icontext_below">Plague Simulation</p>
    </div>
    
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 150%);">
      <p class="icontext_below">Shortest Path Finder</p>
    </div>
    
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 150%);">
      <p class="icontext_below">VR 3D Maze</p>
    </div>
    
</div>


<div style="text-align:center; float: left;">
    
  <div style="float: left; position: relative; width: 320px;   padding-right: 5px; padding-bottom: 5px;">
    <a href="https://yingjun-mou.github.io/projects/"><img src="../images/Icon_1IDD.jpg"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext" style="font-family: 'Lato'; font-size:54px;">CODING</h1>
    </div>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 100%);">
      <h1 class="icontext_below">CODING</h1>
    </div>
  </div>


  <div style="float: left; position: relative; width: 320px; padding-left: 5px; padding-bottom: 5px;">
    <a href="https://yingjun-mou.github.io/publications/"><img src="../images/Icon_2Rothstein.jpg"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext" style="font-family: 'Lato'; font-size:54px;">RESEARCH</h1>
    </div>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 100%);">
      <h1 class="icontext_below">CODING</h1>
    </div>
  </div>

  <div style="float: left; position: relative; width: 320px; padding-right: 5px; padding-top: 5px;">
    <a href="https://yingjun-mou.github.io/design/"><img src="../images/Icon_3FP.jpg"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext" style="font-family: 'Lato'; font-size:54px;">DESIGN</h1>
    </div>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 100%);">
      <h1 class="icontext_below">CODING</h1>
    </div>
  </div>
  
    
</div>






<div style="text-align:center; float: left;">
    
  <div style="float: left; position: relative; width: 320px;   padding-right: 5px; padding-bottom: 5px;">
    <a href="https://yingjun-mou.github.io/projects/"><img src="../images/Icon_4Rivera-300x300.jpg"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext" style="font-family: 'Lato'; font-size:54px;">CODING</h1>
    </div>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 100%);">
      <h1 class="icontext_below">CODING</h1>
    </div>
  </div>


  <div style="float: left; position: relative; width: 320px; padding-left: 5px; padding-bottom: 5px;">
    <a href="https://yingjun-mou.github.io/publications/"><img src="../images/Icon_2Rothstein.jpg"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext" style="font-family: 'Lato'; font-size:54px;">RESEARCH</h1>
    </div>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 100%);">
      <h1 class="icontext_below">CODING</h1>
    </div>
  </div>

  <div style="float: left; position: relative; width: 320px; padding-right: 5px; padding-top: 5px;">
    <a href="https://yingjun-mou.github.io/design/"><img src="../images/Icon_5Rome.jpg"/></a>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 class="icontext" style="font-family: 'Lato'; font-size:54px">DESIGN</h1>
    </div>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, 100%);">
      <h1 class="icontext_below">CODING</h1>
    </div>
  </div>
    
</div>


<!-->{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}<--->

